/* A Sass file that assigns text color to button tags when the user hovers over button tags */

$first-color: #FF0000;
$second-color:#00FF00;

button {
    color: $first-color;

    &:hover {
        color: $second-color;
    }
}
